/* Style Navbar */
.nav {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.nav.close {
  grid-template-columns: 1fr 28px 2fr;
}

.border-bottom {
  border-bottom: 0 solid #d1d1d1;
  margin: 0;
}

.nav-item {
  display: grid;
  grid-template-columns: repeat(5, 100px);
  justify-content: end;
  gap: 15px;
  list-style: none;
}

.nav-link {
  display: grid;
  justify-content: stretch;
}

.nav-item a {
  text-decoration: none;
  color: #398ab9;
  line-height: 50px;
  padding: 0 15px;
  font-weight: 400;
  text-align: center;
}

.nav-item a.active,
.mobile-nav-link a.active {
  background-color: #398ab9;
  color: white;
  border-radius: 6px;
  font-weight: 700;
}

.nav-item a.active:hover,
.mobile-nav-link a.active:hover {
  background-color: #21325e;
}

.nav-item a:hover {
  color: white;
  background-color: lightblue;
  transition: all 0.5s;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.mobile-view,
.mobile-nav {
  display: none;
}

.mobile-fixed {
  display: grid;
  grid-template-columns: 1fr 28px;
  justify-content: space-between;
  align-items: center;
}

/* Responsive */
@media screen and (max-width: 1024px) {
  .nav {
    grid-template-columns: 1fr 28px !important;
  }

  .nav .nav-item {
    display: none;
  }

  .mobile-view,
  .mobile-nav {
    display: block;
  }

  .mobile-nav {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    padding: 0 150px;
    z-index: 999;
    background-color: white;
  }

  .mobile-nav .mobile-nav-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 15px;
    list-style: none;
    padding: 0;
    margin: 10px 0;
    height: 100vh;
  }

  .mobile-nav-link {
    margin: 10px 0;
  }

  .mobile-nav-link a {
    color: #398ab9;
    text-decoration: none;
  }

  .mobile-nav-link a.active {
    padding: 12px 30px;
  }
}

@media screen and (max-width: 768px) {
  .mobile-nav {
    padding: 0 20px;
  }
}
