/* Font Style */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@import url('./components/Navbar/index.css');
@import url('./components/Hero/index.css');
@import url('./components/Feature/index.css');
@import url('./components/Item/index.css');
@import url('./components/Footer/index.css');
@import url('./elements/Button/index.css');
@import url('./elements//HamBurgerMenu/index.css');
@import url('./elements//CloseHamMenu/index.css');
@import url('./elements/Card/index.css');
@import url('./elements/ItemCard/index.css');

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  margin: 0 150px;
  display: grid;
}

.container-fluid {
  margin: 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 20px;
  }
}
