@import url('./components/Navbar/index.css');
@import url('./components/Hero/index.css');
@import url('./elements/Button/index.css');

.container {
  margin: 0 150px;
  display: grid;
}

.container-fluid {
  margin: 0;
}

/* Responsive */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 20px;
  }
}
