/* Style Card */
.features-content .card {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #b0b0b0;
  background-color: inherit;
  cursor: pointer;
  transition: box-shadow 0.5s ease-in-out;
}

.features-content .card:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: none;
  background-color: #fff;
}

.features-content .card .bg-card-header {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  background-color: #398ab9;
}

.features-content .card-body {
  text-align: center;
}

.features-content .card-body h5 {
  font-size: 24px;
}
